# This notebook is dedicated to the data preprocessing of the Research Project
### MSC/DSA/134

In [8]:
# loading required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from globals.pandas_functions import *

In [5]:
# define datasets base path
data_base_path = "data/"

In [6]:
# import dataset
transaction_data_df = pd.read_csv(data_base_path + "processed/unified_transaction_data_option1.csv")

In [9]:
dataset_dimension("Transaction Data", transaction_data_df)

Transaction Data dataset dimension: (590509, 27)

In [10]:
# split dataset into train and test sets
train_df, test_df = train_test_split(transaction_data_df, test_size=0.2, random_state=42)
# reset index
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

# show dimensions of train and test sets
dataset_dimension("Train Set", train_df)
dataset_dimension("Test Set", test_df)

Train Set dataset dimension: (472407, 27)
Test Set dataset dimension: (118102, 27)

In [11]:
train_df.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card4,card6,P_emaildomain,C1,C2,...,C10,C11,C12,C13,C14,M1,M2,M3,M4,M6
0,0,14763273,46.417,C,9633,visa,debit,gmail.com,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,T,T,T,M2,F
1,0,246859,49.000,W,9500,visa,debit,yahoo.com,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,T,T,T,M0,T
2,0,5466340,42.294,C,15885,visa,debit,hotmail.com,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,T,T,T,M2,F
3,0,6388828,25.950,W,15066,mastercard,credit,aol.com,8.0,4.0,...,0.0,4.0,0.0,46.0,8.0,T,T,T,M0,T
4,0,3469555,31.950,W,16030,mastercard,debit,gmail.com,2.0,2.0,...,0.0,1.0,0.0,5.0,2.0,T,T,T,M0,T

In [12]:
# TODO: before splitting, encode categorical variables